#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  display: flex;
  gap: 25px;
}

.center-area {
  text-align: center;
  align-self: center;
}

.play-button {
  border-radius: 50%;
  background-color: rgb(92, 68, 68);
  color: rgb(192, 68, 68);
  border-color: rgb(192, 68, 68);
  border-style: solid;
  border-width: 3px;
  font-size: 2em;
}

.card {
  height: 200px;
  width: 120px;
  background-color: rgb(192, 168, 168);
  border-radius: 8px;
  border: 4px solid rgb(64,32,32);
  box-shadow: 1px 1px 4px 1px rgb(2,150,200);
  overflow: hidden;
}

.card-image {
  width: 100%;
}

.stat-list {
  margin: 0px;
  padding: 0px 8px;
}

.stat-list-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.hand-list {
  display: flex;
}

.hand-list.player {
  flex-direction: row-reverse;
}

.hand-list.opponent {
  flex-direction: row;
}

.hand-list-item {
  list-style: none;
}

.hand-list-item.player {
  margin-left: calc(2vw - 140px);
}

.hand-list-item.opponent {
  margin-right: calc(2vw - 140px);
}